body {
    background-color: #222222;
}

.nav {
    height: 60px;
}


.special-alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 0.5vw);
    background-color: #555555;
    height: 40px;
    line-height: 40px;
}

.razer-blade,
.razer-leviathan,
.razer-camera,
.project-carol,
.razer-enki,
.razer-wolverine,
.razer-vr {
    height: 500px;
}


.razer-blade .text-part {
    width: 90%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-family: "RazerF5", Arial, Helvetica, sans-serif;
}

.razer-leviathan .text-razer-leviathan-part {
    width: 90%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-family: "RazerF5", Arial, Helvetica, sans-serif;
}

.razer-camera .text-razer-camera-part {
    width: 90%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-family: "RazerF5", Arial, Helvetica, sans-serif;
}

.project-carol .text-project-carol-part {
    width: 90%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.razer-enki .text-razer-enki-part {
    width: 90%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.razer-wolverine .text-razer-wolverine-part {
    width: 90%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.razer-vr .text-razer-vr-part {
    width: 90%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.razer-blade .text-part h1 {
    font-size: calc(25px + 0.5vw);
    font-weight: 600;
}

.razer-leviathan .text-razer-leviathan-part h1 {
    font-size: calc(25px + 0.5vw);
    font-weight: 600;
}

.razer-camera .text-razer-camera-part h1 {
    font-size: calc(27px + 0.5vw);
    font-weight: 600;
}

.project-carol .text-project-carol-part h1 {
    font-size: calc(27px + 0.5vw);
    font-weight: 600;
}

.razer-enki .text-razer-enki-part h1 {
    font-weight: 600;
    font-size: calc(27px + 0.5vw);
}

.razer-wolverine .text-razer-wolverine-part h1 {
    font-weight: 600;
    font-size: calc(27px + 0.5vw);
}

.razer-vr .text-razer-vr-part h1 {
    font-weight: 600;
    font-size: calc(27px + 0.5vw);
}

.razer-blade .text-part h2 {
    font-size: calc(15px + 1vw);
    font-weight: 400;
}

.razer-leviathan .text-razer-leviathan-part h3 {
    font-size: calc(15px + 1vw);
    font-weight: 400;
}

.razer-camera .text-razer-camera-part h3 {
    font-size: calc(17px + 1vw);
    font-weight: 400;
}

.project-carol .text-project-carol-part h3 {
    font-size: calc(17px + 1vw);
    font-weight: 400;
}

.razer-enki .text-razer-enki-part h3 {
    font-size: calc(17px + 1vw);
    font-weight: 400;
}

.razer-wolverine .text-razer-wolverine-part h3 {
    font-size: calc(17px + 0.1vw);
    font-weight: 400;
}

.razer-vr .text-razer-vr-part h3 {
    font-size: calc(17px + 0.1vw);
    font-weight: 400;
}

.razer-blade .text-part .link-part a:hover {
    text-decoration: underline white !important;
}

.razer-leviathan .text-razer-leviathan-part a:hover {
    text-decoration: underline white !important;
}

.razer-camera .text-razer-camera-part a:hover {
    text-decoration: underline white !important;
}

.project-carol .text-project-carol-part a:hover {
    text-decoration: underline white !important;
}

.razer-enki .text-razer-enki-part a:hover {
    text-decoration: underline white !important;
}

.razer-wolverine .text-razer-wolverine-part a:hover {
    text-decoration: underline white !important;
}

.razer-vr .text-razer-vr-part a:hover {
    text-decoration: underline white !important;
}

/* --------------- footer css --------------- not in media or special size yet. */

.hidden-ul {
    display: none;
    overflow: hidden !important;
}

.xxx {
    background-color: #111111;
}

.header-part,
.second-header {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(12px + 0.5vw);
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

.footer ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(11px + 0.5vw);
    color: gray;
    transition: all 250ms linear 0s;
}

.footer ul li a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline !important;
}


.footer .lst-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(12px + 0.5vw);
}

.last-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(7px + 0.5vw);
    border-bottom: 1.5px solid #353535;
    background-color: #111111;
}

.last-message ul {
    width: 39%;
}

.last-message ul>li>a {
    color: #767676;
}

.last-message ul li:hover a {
    color: white;
    text-decoration: underline white !important;
}

.medias {
    user-select: none;
    background-color: #111111;
}

.medias p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 0.5vw);
    color: #3fc629;
    font-weight: 400;
}

@media all and (max-width:575px) {}

@media all and (min-width:576px) and (max-width:767px) {}

@media all and (min-width:768px) {

   

    .header-part {
        cursor: auto;
    }

    .nav {
        border-bottom: 1px solid #3fc629;
    }

    .nav .logo {
        height: 60px;
        width: 70px;
        margin-top: -10px;
    }

    .nav ul {
        width: 80%;
        height: 100%;
        line-height: 60px;
        margin: 0px auto;
    }

    .nav ul li a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(11px + 0.5vw);
        color: gray;
        padding: 10px;
        transition: all 200ms linear 0s;
    }

    .nav ul li:hover a {
        color: white;
    }

    .nav .ULIcon {
        color: #7d7d7d;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        top: 0px;
        transition: all 200ms linear 0s;
    }

    .nav .Icon {
        width: 60px;
        height: 60px;
        font-size: larger;
        color: #7d7d7d;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        top: 0px;
        transition: all 200ms linear 0s;
    }

    .nav .Icon:hover,
    .ULIcon:hover {
        color: white !important;
    }


    .plus-icon {
        display: none;
    }

    .footer .item-part ul {
        border-bottom: 0;
    }

}

@media all and (max-width:767px) {
    .footer {
        width: 87%;
        background-color: #111111;
        border-bottom: 1.5px solid #353535;
    }

    .nav .logo {
        height: 38px;
        width: 70px;
        line-height: 30px;
        cursor: pointer;
    }

    .nav .MenuIcon {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 35px;
        color: white;
    }

    .nav ul {
        width: 100%;
        height: 100vh;
        background-color: #222222;
        z-index: 1;
        padding-top: 20px;
        /* transition: all 300ms linear 0s; */
    }

    .nav ul li:first-of-type {
        margin-top: 40px;
    }

    .nav ul li {
        width: 90%;
        height: 60px;
        /* background-color: red; */
        border-bottom: 1.5px solid #4a4a4a;
        line-height: 60px;
        margin-left: 20px;
        cursor: pointer;
    }

    .nav ul li a {
        font-family: Arial, Helvetica, sans-serif;
        color: #585858;
        font-size: calc(17px + 0.5vw);
        transition: all 100ms linear 0s;
    }

    .nav ul li:hover a {
        color: white !important;
    }

    .nav .mmICON {
        display: none;
    }

    .PlusIcon{
        position: absolute;
        right: 0;
        top: 10px;
    }
}

@media all and (min-width:992px) {
    .razer-blade {
        height: 650px;
    }

    .razer-leviathan {
        height: 650px;
    }

    .razer-camera {
        height: 650px;
    }

    .project-carol {
        height: 650px;
    }

    .razer-enki {
        height: 650px;
    }

    .razer-wolverine {
        height: 650px;
    }

    .razer-vr {
        height: 650px;
    }
}

@media all and (min-width:1200px) {}

.hidden-height {
    /* height: 0 !important; */
    display: none !important;
    overflow: hidden;
}

.hidden-navigation {
    display: none;
}

.mmm {
    padding-top: 30px;
    background-color: #111111;
}
.plusiconstyle{
    transform: rotate(45deg) !important;
}